<html>
	<head>
		<% include ../partials/head %>
	</head>
	<body>
		<header>
			<% include ../partials/header %>
		</header>
		
		<main>
			This is a test page.
		</main>
		
		<footer>
			<% include ../partials/footer %>
		</footer>
	</body>
</html>